@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Public sans', sans-serif;
}

.wrapper{
    background-image: url('https://images.unsplash.com/photo-1621948902786-8572b7911e19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header{
    text-transform: capitalize;
    color: #fff;
    opacity: 0.8;
    text-align: center;
    margin-top: 3.5rem;
    /* border: 1px solid red; */
}

header h1{
    /* border: 1px solid red; */
    font-size: 2.5rem;
    
    font-weight: 300;
    letter-spacing: 0.07rem;
}

header p{
    /* border: 1px solid red; */
    margin: 1rem 0 2rem;
    font-size: 1.3rem;
}



#survey-form{
    background-color: rgb(42,42,72);
    /* border:1px solid red; */
    opacity: 0.9;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 1em;
}